<h2 class="text-danger">Acesso negado</h2>

<h3>Perfil sem acesso a essa funcionalidade</h3>
<p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            
            <a asp-action="Index" class="btn btn-info">Voltar a tela inicial</a>
        </div>
    </div>
</p>
